.MemoryCard {
    max-width: 860px;
    margin:40px auto;
    background: #000;
  }
  
.memory {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all content horizontally */
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(10, 11, 11);
    color:bisque
  }

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  } 
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  
  .h1 button{
    background:none;
    border:2px solid #fff;
    padding: 20px 20px;
    margin: 20px; 
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    font-size:3em;
  }
  
  button:hover{
    background: #e02765;
    color:#f8f5f5;
  }
  
  
  
  .card-back {
    background-color: #000;
    color: #fff;
    transform: rotateY(180deg);
  }
  